@tailwind base;
@tailwind components;
@tailwind utilities;

.num-of-items {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #ad220f;
  position: absolute;
  left: 1.3rem;
  top: -0.3rem;
  border-radius: 100%;
}
