@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  user-select: none;
}

#overlay {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.button {
  display: inline-block;
  width: 48px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f3f3f2;
  outline: 1px solid #f3f3f2;
  transition: 0.4s;
  -webkit-box-shadow: inset -1px 3px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 3px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.button::after {
  transition: 0.2s;
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f2;
  left: 0;
  margin: 2px;
  -webkit-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.veg::after {
  transform: translateX(24px);
}
.button.veg {
  background-color: #1eb648;
}

.nonVeg.button {
  background-color: #f23115;
}
.nonVeg::after {
  transform: translateX(24px);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #b3b3b3;
  border-right-color: #fa9200;
  animation: l2 1s infinite linear;
}

.loader-small {
  width: 23px;
  height: 23px;
  border: 6px solid #b3b3b3;
  border-right-color: #fa9200;
}

@keyframes l2 {
  to {
    transform: rotate(2turn);
  }
}

.buttonCheckout::before {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(25, 135, 54, 1) 100%
  );
  height: 60px;
  position: absolute;
  z-index: 20;
  width: 200px;
  transform: translateX(-160%);
  transition: all 0.6s;
  mix-blend-mode: screen;
  visibility: hidden;
}
.buttonCheckout:hover::before {
  visibility: visible;
  transition: all 0.6s;
  transform: translateX(80%);
}
